<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")"/>
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/PageStyle.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/DocStyle.css")" />
</head>
<body>
@RenderBody()
</body>
</html>
