@model GaclibWebPage.Models.NavigationBarModel

@{
    ViewBag.Title = "GacLib - Getting Start - Step 4";
}
<script type="text/javascript" src="@Url.Content("~/Content/SyntaxHighlighter/scripts/shCore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/SyntaxHighlighter/scripts/shBrushCpp.js")"></script>
<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/SyntaxHighlighter/styles/shCore.css")" />
<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/SyntaxHighlighter/styles/shThemeRDark.css")" />
<tr>
    <td align="left" valign="top" colspan="6">
        <h1>Step 4. Build and run!</h1>
        <p>
            Build the program and run!<br /><br />
            <img src="@Url.Content("~/Content/GettingStart/HelloWorld.jpg")" alt="Hello, world!" />
        </p>
        <h1>See also ...</h1>
        <ul>
            <li>Step 1. <a href="@Url.Action("GettingStart_1", "Home")">Create a Visual C++ Project will GacUI source code.</a></li>
            <li>Step 2. <a href="@Url.Action("GettingStart_2", "Home")">Write your first GacUI program using C++.</a></li>
            <li>Step 3. <a href="@Url.Action("GettingStart_3", "Home")">Write your second GacUI program using XML.</a></li>
            <li>Step 4. <a href="@Url.Action("GettingStart_4", "Home")">Build and run!</a></li>
        </ul>
    </td>
</tr>
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>